{
    "env": {
        "development": {
            "plugins": [
                [
                    "babel-plugin-styled-components",
                    {
                        "ssr": false
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                [
                    "babel-plugin-styled-components",
                    {
                        "ssr": false,
                        "displayName": false,
                    }
                ]
            ]
        }
    },
    "presets": ["@babel/preset-env", "@babel/preset-react"]
}
