# Node build artifacts
node_modules
npm-debug.log

# Local development


# Move favicon.ico to src and include build step to take image with you

client/dist/*
!/client/dist/favicon.ico


*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Heroku dependency
heroku
